.root {
  align-items: center;
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
}

.horizontalLine {
  background-color: #ff5353;
  align-self: center;
  width: 1121px;
  max-width: 100%;
  height: 1px;
  margin: 30px 0 30px;
}

.requiredStar {
  position: absolute;
  transform: translateX(-9px);
  color: #d40000;
  /* 红色 */
  font-size: 16px;
  /* 适当的字体大小 */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.container .article {
  display: flex;
  width: 1200px;
  max-width: 100%;
  flex-direction: column;
  align-items: start;
  border-radius: 10px;
  background: #f8f8f8;
}

.container .article .uploading {
  margin: 40px auto;
  /* width: 1121px; */
  flex-shrink: 0;
}

.container .article .push {
  margin: 40px auto;
  width: 1121px;
  flex-shrink: 0;
}

.container .article .point {
  margin-right: 15px;
  width: 4px;
  height: 20px;
  background: #ff5353;
}

.container .article .titleBox {
  display: flex;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

.container .article .detailBox {
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.container .article .detailBox .title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
}

.container .article .detailBox .detailContainer {
  padding: 30px;
}

.container .article .detailBox .detailContainer .detailContainerItem {
  display: flex;
  margin: 10px;
  align-items: center;
}
.container .article .detailBox .detailContainer #articleEditor {
  display: block;
}
.container .article .detailBox .detailContainer #coverEditor {
  display: block;
}

.container .article .detailBox .detailContainer .detailContainerItem p {
  width: 8em;
}

.container .article .detailBox .detailContainer .detailContainerItem .input {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container
  .article
  .detailBox
  .detailContainer
  .detailContainerItem:first-child
  .input {
  width: 725px;
}

/* .container .article   .detailBox .detailContainer .detailContainerItem:nth-last-child(2) p {} */

.spotType {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.spotTypeItem {
  color: #b00;
  border-radius: 10px;
  border: 2px solid #b00;
  background-color: #fff;
  justify-content: center;
  padding: 16px 34px;
  cursor: pointer;
  font:
    400 16px Abel,
    sans-serif;
}

.spotTypeItemSelected {
  color: #fff;
  border-radius: 10px;
  border: 2px solid #b00;
  background-color: #b00;
  justify-content: center;
  padding: 16px 34px;
  cursor: pointer;
  font:
    400 16px Abel,
    sans-serif;
}

.standard {
  display: flex;
  color: #999;
  font-size: 14px;
  width: 450px;
  align-items: center;
}
.action-container {
  margin: 30px auto;
  margin-bottom: 5px;
  display: flex;
  max-width: 412px;
  justify-content: space-between;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
  width: 700px;
  white-space: nowrap;
}

.submit-article,
.save-draft {
  font-family: Abel, sans-serif;
  border-radius: 10px;
  padding: 16px 41px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-article {
  background-color: #b00;
  border: none;
  color: #fff;
}

.submit-article:hover {
  background-color: darken(#b00, 10%);
}

.save-draft {
  background-color: #fff;
  border: 2px solid #b00;
  color: #b00;
}

.save-draft:hover {
  background-color: lighten(#b00, 40%);
}
